@media screen and (max-width: 800px){
    .mainCardSection{
        flex-direction: column;
        gap: 2rem;
    }
    .cardSection{
        width: 70%;
    }
    .searchSection{
        flex-wrap: wrap;
        justify-content: center;
    }
    .search{
        width: 100%;
        padding: 2rem;
    }
    .input{
        width: 80%;
    }
    .dev_main{
        flex-direction: column;
        align-items: center;
    }
    .dev_content{
        width: 70%;
    }
    .social_media{
        width: 70%;
    }
    .social_media ul{
        gap: 1rem;
        width: 80%;
    }
    .social_media ul li{
        text-align: center;
    }
}